<div class="card border-info mb-3 shadow-lg bg-white rounded" *ngIf="!open" style="max-width: 580px; min-width: 580px; height: 240px;" >        
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.body.slice(0,200) + "..."}}</p>
        <p class="card-text"><small class="text-muted">{{article.category}}</small></p>
        <a class="btn btn-info mt-auto" style="width: 120px; color:white;" (click)="toggleOpen()">Show more</a>
    </div>
</div>

<div class="card border-info mb-3 shadow-lg bg-white rounded" *ngIf="open">        
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.body}}</p>
        <p class="card-text"><small class="text-muted">{{article.category}}</small></p>
        <a class="btn btn-info mt-auto" style="width: 120px; color:white;" (click)="toggleOpen()">Show less</a>
    </div>
</div>

